
{% macro customer_form(form_name = '', customer_name = '',customer_address = '',customer_is_active = '',customer_mobile = '',customer_email = '',customer_url = '',customer_timestamp = '',customer_date = '',customer_pricing = '') %}

        <div class="center row">
            <div class="large-8 columns">
            <h4> {{ form_name }} Customers</h4>
               <fieldset>
                <form action="" method="POST" >
  
				 
           <label>Name
           <small>required</small><input type="text" name="name" value="{{ customer_name }}"  required/>
           </label> <label>Address
    <small>required</small><textarea type="text" name="address" rows="20" > {{ customer_address }}
    </textarea>
    </label> <!-- START STATUS -->
        {% if form_name == 'Update' %}

            <div class="small-6 columns">
            <label>Is_Active</label>
              {% if customer.is_active %}
                <input type="radio" name="is_active" value="True"  checked/><label>True</label>
                <input type="radio" name="is_active" value="False"/><label>False</label>
              {% else %}
               <input type="radio" name="is_active" value="True"  /><label>True</label>
               <input type="radio" name="is_active" value="False" checked/><label>False</label>

              {% endif %}
                </div>
        <!-- For a new customer-->
        {% else %}

           <div class="small-6 columns">
             <label>Is_Active</label>
               <input type="radio" name="is_active" value="True"  checked/><label>True</label>
               <input type="radio" name="is_active" value="False"/><label>False</label>
                 </div>
       {% endif %}

           <!-- End STATUS --><label>Mobile
    <small>required</small><input type="number" name="mobile" value="{{ customer_mobile }}"  required/>
    </label> <label>Email
    <small>required</small><input type="email" name="email" value="{{ customer_email }}"  required/>
    </label> <label>Url
    <small>required</small><input type="url" name="url" value="{{ customer_url }}"  required/>
    </label> <label>Timestamp
    <small>required</small><input type="datetime" name="timestamp" value="{{ customer_timestamp }}"  required/>
    </label> <label>Date
    <small>required</small><input type="date" name="date" value="{{ customer_date }}"  required/>
    </label> <label>Pricing
    <small>required</small><input type="number" name="pricing" value="{{ customer_pricing }}"  required/>
    </label> 

				   <button class="button "  type="submit">{{ form_name }}</button>
                  </form>
                </fieldset>


				</div>
			  </div>


{% endmacro %}
